/* /*
border color: 68a856

*/
.card {
  border: 1px solid #68a856;
  overflow: hidden;
  max-width: 570px;
}

.card-header {
  background-color: #68a856;
  color: white;
  font-size: 16px;
  line-height: 18px;
}

.card-footer {
    background-color: white;
    font-size: 13px;
    color: #555564;
}
