@import "./header.css";
@import "./card.css";
@import "./footer.css";
@import "./input.css";
* {
  font-family: Arial, Helvetica, sans-serif;
}

i.fas {
  margin-right: 4px;
}

a {
  text-decoration: none;
  color: #68a856;
}
