.input-group-title {
    font-size: 13px;
    font-weight: bold;
  }
  
  input::placeholder {
    color: #999999 !important;
  }
  textarea::placeholder {
    color: #999999 !important;
  }
  
  .required {
    color: red;
  }
  .optional {
    color: #999999;
  }