.provider-dashboard {
  width: 100vw;
  padding-right: 32px;
  padding-left: 32px;
}
.card {
  width: 100%;
  max-width: 100vw !important;
}
.card-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header-content div {
  display: flex;
  align-items: center;
}

.card-body {
  margin: 0;
  min-width: 100%;
}

.patient {
  padding-top: 40px;
}

.patient .patient-avatar i {
  font-size: 40px;
  margin-left: 10px;
  color: #999999;
}
.patient .patient-details .patient-name {
  font-weight: bold;
}

.patient .patient-details .patient-reason {
  color: #999999;
  font-size: 14px;
}
.patient .patient-details .patient-vsee-id {
  color: #999999;
  font-size: 14px;
}

.patient .patient-current-status .patient-online {
  color: #999999;
  font-size: 14px;
}

.patient .patient-current-status .patient-online i {
  color: #68a856;
}

.patient .patient-current-status .patient-waiting {
  color: #999999;
  font-size: 14px;
}

.patient .actions .action-containter {
  float: right;
}

.patient .actions .action-containter .btn {
  color: white;
}

.clear-float {
  clear: both;
}
